.add-button{
  width: 150px;
  height: 50px;
  background-image: url(../../image/add-button.svg);
}
@media screen and (max-width: 768px){
  .add-button{
    width: 282px;
    background-image: url(../../image/add-button-mobile.svg);
  }
}