.card__like-button{
  cursor: pointer;
  border: none;
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 21px;
  height: 18px;
  align-self: center;
  background-image: url(../../../image/like-button.svg);
}
.card__like-button:hover{
  opacity: 0.6;
}