.profile__avatar{
  width: 120px;
  height: 120px;
  background: black;
  border-radius: 50%;
  background-image: url('../../../image/editAvatar.png');
  background-repeat: no-repeat no-repeat;
  background-position: center;
}