.profile__description{
  color: rgb(255, 255, 255);
  margin: 0;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
@media screen and (max-width: 768px){
  .profile__description{
    font-size: 14px;
    line-height: 17px;
    margin: auto;
  }
}